body {
  background-color: ivory;
}

#app {
  position: relative;
  height: 620px;
  width: 360px;
  z-index: 1;
}

#backdrop {
  flex: 1 1 100%;
  background-color: black;
  opacity: 0.6;
  height: 580px;
  width: 360px;
  z-index:1;
}

@media only screen and (min-width: 560px) {
  #app,
  #backdrop { width: 568px;}
}

@media only screen and (min-width: 960px) {
  #app,
  #backdrop { width: 960px;}
}

@media only screen and (min-height: 660px) {
  #app,
  #backdrop { height: 660px;}
}

@media only screen and (min-height: 730px) {
  #app,
  #backdrop { height: 730px;}
}

@media only screen and (min-height: 810px) {
  #app,
  #backdrop { height: 810px;}
}
.relShell {
  position: relative;
  height: 0.2em;
}

.flexOuterCenter,
.flexOuterColumn,
.flexOuterEnd,
.flexOuterSpace {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterCenter {
  //border: 4px solid yellow;
}

.flexInnerCenter {
  flex: 1 1 50%;

}

.flexOuterSpace {
  justify-content: space-around;
  margin: 1em;
  //border: 1px solid grey;
}

.flexOuterColumn {
  flex-flow: column wrap;
  //margin: 1em;
  //border: 1px solid green;
}

.flexInnerColumn {
  flex: 1 1 2%;
  min-width: 300px;
  max-width: 320px;
  position: relative;
  //border: 1px solid ivory;
}

@media only screen and (min-width: 960px) {
  .flexInnerColumn {
    min-width: 480px;
    max-width: 520px;
  }
}

.flexOuterEnd {
  justify-content: flex-end;
  margin: 0.1em;
  //border: 1px solid red;

}

.integer {

}

.char {
/*  flex: 1 1 5%;*/
  font-weight: bold;
  opacity: 0.9;
}

.colorCodeNumeric,
.inputPanel,
.opChar {
  position: absolute;
  border-radius: 3px;
}

#tenKey {
  min-width: 15em;
  max-width: 15em;
  position: absolute;
  bottom: 9%;
  left: 16%;
  z-index: 10;
  //border: 1px solid blue;
}

@media only screen and (min-width: 560px) {
  #tenKey {
   bottom: 47%;
   left: 0%;
  }
}

@media only screen and (min-width: 960px) {
  #tenKey {
   bottom: 47%;
   left: 8%;
  }
}

#tenKeyLeft {
  min-width: 7em;
  position: relative;
  margin: 1em;
  padding-right: 2.8em;
  border: 2px solid cornflowerblue;
  border-radius: 3px;
}

#tenKeyRight {
  min-width: 3em;
  position: absolute;
  left: 71%;
  top:6.2%;
}

.opChar,
.keyChar,
.keyCharLong,
.keyCharTall {
  flex: 1 1 8%;
  font-size: 20px;
  font-family: Courier;
  font-weight: bold;
  padding: 0.33em;
  margin: 0.2em;
  border-radius: 3px;
  opacity: 0.9;
  text-align: center;
  z-index: 10;
  width: 1.2em;
  max-width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.opChar:hover,
.keyChar:hover,
.keyCharLong:hover,
.keyCharTall:hover {
  background-color: pink;
}

/*
#plus {
  content: "&plus;"
}

#minus {
  content: "&minus;"
}

#multiply {
  content: "&times;"
}

#divide {
  content: "&divide;"
}

*/
.opChar,
.keyChar,
.keyCharLong,
.keyCharTall {
  background-color: cornflowerblue;
  color: ivory;
}

.keyCharLong {
  width: 3.2em;
  max-width: 3.2em;
}
.keyCharTall {
/*
parameters will have to be changed if plus & equals signs center vertically*/
  height: 3.45em;
}


.opChar {
  /*location will go here*/
  left: 0%;
  top: 0%;
  font-weight: bold;
}

.colorCodeNumeric {
  top: 2%;
  padding: 0.16em;
  //padding-bottom: 1.36em;
  margin: 0.33em;
  font-family: courier;
  font-size: 30px;
  color: white;
  background-color: black;
  opacity: 0.9;
  z-index: 5;
  display: none;
}

@media only screen and (min-width: 560px) {
  .colorCodeNumeric { right: 0% }
}

@media only screen and (min-width: 960px) {
  .colorCodeNumeric { right: 10% }
}

#resultsBox,
#subTotalBox,
#controlPanelBox {
  position: absolute;
  z-index: 15;
  background-color: silver;
  color: black;
  min-width: 320px;
  max-width: 360px;
  min-height: 2em;
  font-size: 28px;
  //padding: 0.2em;
  top: 20%;
  border-radius: 3px;
  display: none;
}

#resultsBox,
#subTotalBox {

}

#subTotalBox {
  top: 84%;
  display: none;
}

#controlPanelBox {
  top: 4%;
  min-height: 960px;
  display: block;
  background-color: dimgrey;
  color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 560px) {
  #resultsBox,
  #subTotalBox,
  #controlPanelBox { min-width: 540px; }
  #subTotalBox { top: 48%; }
}

@media only screen and (min-width: 960px) {
  #controlPanelBox { min-width: 940px; }
  #subTotalBox { top: 80%; }
}

#resultsText,
#subTotalText {
  font-family: courier;
  padding: 0.25em;
  opacity: 0.9;
}

#controlPanelText {

}

form {
  padding: 1em;
}

.radioLabel {
  font-size: 20px;
}

.radioButtonLabel {
  padding: 0 0.5em 0 0.5em;
}

input[type="radio"] {
  margin: 0.33em 3em 0.33em 3em;
  cursor: pointer;

}

.clearButton {
  padding: 0.66em;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin: 1.66em;
  cursor: pointer;
  opacity: 0.9;
  font-size: 18px;
}

.clearButton:hover {
  //color: black;
  background-color: orangered;
  opacity: 0.8;
  border: 1px solid red;
}

.closeModal {
  font-size: 30px;
  font-family: Courier;
  font-weight: bold;
  color: dimgrey;
  background-color: ivory;
  padding: 0.06em 0.2em 0 0.2em;;
  border: 1.5px solid dimgrey;
  border-radius: 100%;
  position: absolute;
  top: -200%;
  right: -5%;
  cursor: pointer;
}

.closeModal:hover {
  color: black;
  border: 1.5px solid black;
  opacity: 0.9;
}

.inputPanel {
  top: 36%;
  flex: 1 1 50%;
  background-color: black;
  opacity: 1;
  z-index: 10;
  font-size: 24px;
  padding: 0.33em;
}

.inputNumeric {
  border-radius: 3px;
  border: 2px solid lightsteelblue;
  font-size: 20px;
  padding: 0.5em;
  font-family: courier;
  color: black;
  width: 250px;
}

input {

}

.customRule {
  width: 100%;
  height: 8px;
  color: whitesmoke;
  position: absolute;
}

#test1 {
  display: none;
}
