body {
  background-color: ivory;
}

#app {
  position: relative;
  height: 620px;
  width: 360px;
  z-index: 1;
}

#backdrop {
  flex: 1 1 100%;
  background-color: black;
  opacity: 0.6;
  height: 620px;
  width: 360px;
  z-index:1;
}

@media only screen and (min-width: 560px) {
  #app,
  #backdrop { width: 568px;}
}

@media only screen and (min-width: 960px) {
  #app,
  #backdrop { width: 960px;}
}
.relShell {
  position: relative;
  height: 0.2em;
}

.flexOuterCenter,
.flexOuterColumn,
.flexOuterEnd,
.flexOuterSpace {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterCenter {
  //border: 4px solid yellow;
}

.flexInnerCenter {
  flex: 1 1 50%;

}

.flexOuterSpace {
  justify-content: space-around;
  margin: 1em;
  //border: 1px solid grey;
}

.flexOuterColumn {
  flex-flow: column wrap;
  //margin: 1em;
  //border: 1px solid green;
}

.flexInnerColumn {
  flex: 1 1 2%;
  min-width: 300px;
  max-width: 320px;
  position: relative;
  //border: 1px solid ivory;
}

@media only screen and (min-width: 560px) {
  .flexInnerColumn { width: 540px; }
}

.flexOuterEnd {
  justify-content: flex-end;
  margin: 0.1em;
  //border: 1px solid red;

}

.integer {

}

.char {
/*  flex: 1 1 5%;*/
  font-weight: bold;
  opacity: 0.9;
}

.colorCodeNumeric,
.controlPanel,
.opChar {
  position: absolute;
  border-radius: 3px;
}

#tenKey {
  min-width: 15em;
  max-width: 15em;
  position: absolute;
  bottom: 5%;
  left: 16%;
  z-index: 10;
  //border: 1px solid blue;
}

#tenKeyLeft {
  min-width: 7em;
  position: relative;
  margin: 1em;
  padding-right: 2.8em;
  border: 2px solid cornflowerblue;
  border-radius: 3px;
}

#tenKeyRight {
  min-width: 3em;
  position: absolute;
  left: 71%;
  top:6.2%;
}

.opChar,
.keyChar,
.keyCharLong,
.keyCharTall {
  flex: 1 1 8%;
  font-size: 20px;
  font-family: Courier;
  font-weight: bold;
  padding: 0.33em;
  margin: 0.2em;
  border-radius: 3px;
  opacity: 0.9;
  text-align: center;
  z-index: 10;
  width: 1.2em;
  max-width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

.opChar:hover,
.keyChar:hover,
.keyCharLong:hover,
.keyCharTall:hover {
  background-color: pink;
}

/*
#plus {
  content: "&plus;"
}

#minus {
  content: "&minus;"
}

#multiply {
  content: "&times;"
}

#divide {
  content: "&divide;"
}

*/
.opChar,
.keyChar,
.keyCharLong,
.keyCharTall {
  background-color: cornflowerblue;
  color: ivory;
}

.keyCharLong {
  width: 3.2em;
  max-width: 3.2em;
}
.keyCharTall {
/*
parameters will have to be changed if plus & equals signs center vertically*/
  height: 3.45em;
}


.opChar {
  /*location will go here*/
  left: 0%;
  top: 0%;
  font-weight: bold;
}

.colorCodeNumeric {
  top: 2%;
  padding: 0.16em;
  //padding-bottom: 1.36em;
  margin: 0.33em;
  font-family: courier;
  font-size: 30px;
  color: white;
  background-color: black;
  opacity: 0.9;
  z-index: 5;
  display: none;
}

#resultsBox {
  position: absolute;
  z-index: 15;
  background-color: ivory;
  color: black;
  min-width: 300px;
  max-width: 320px;
  min-height: 2em;
  font-size: 28px;
  //padding: 0.2em;
  top: 20%;
  border-radius: 3px;
  display: none;
}

@media only screen and (min-width: 560px) {
#resultsBox { width: 540px; }
}

#resultsText {
  font-family: courier;
  padding: 0.25em;
}

.closeModal {
  font-size: 30px;
  font-family: Courier;
  font-weight: bold;
  color: dimgrey;
  background-color: ivory;
  padding: 0.06em 0.2em 0 0.2em;;
  border: 1.5px solid dimgrey;
  border-radius: 100%;
  position: absolute;
  top: -200%;
  right: -5%;
  cursor: pointer;
}

.closeModal:hover {
  color: black;
  border: 1.5px solid black;
  opacity: 0.9;
}

.controlPanel {
  top: 36%;
  flex: 1 1 50%;
  background-color: black;
  opacity: 0.0;
  z-index: 10;
  font-size: 24px;
  padding: 0.33em;
}

.inputNumeric {
  border-radius: 3px;
  border: 2px solid lightsteelblue;
  font-size: 20px;
  padding: 0.5em;
  font-family: courier;
  color: black;
  width: 250px;
}

input {

}

.customRule {
  width: 100%;
  height: 8px;
  color: whitesmoke;
  position: absolute;
}
